[
 ;; orderid 2
 {:db/id #db/id[:db.part/user]
  :product/prod-id 6127
  :product/category :product.category/games
  :product/title "AIRPLANE CAT"
  :product/actor "RIP DOUGLAS"
  :product/price 16.99M
  :product/special false
  :product/common-prod-id 1644}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 4936
  :product/category :product.category/new
  :product/title "AFRICAN VANISHING"
  :product/actor "EDWARD NOLTE"
  :product/price 16.99M
  :product/special false
  :product/common-prod-id 4633}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 1298
  :product/category :product.category/comedy
  :product/title "ACE EYES"
  :product/actor "DENNIS FIENNES"
  :product/price 26.99M
  :product/special false
  :product/common-prod-id 5006}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 2926
  :product/category :product.category/music
  :product/title "ADAPTATION UNTOUCHABLES"
  :product/actor "HELEN BERRY"
  :product/price 22.99M
  :product/special false
  :product/common-prod-id 2561}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 5130
  :product/category :product.category/action
  :product/title "AGENT CELEBRITY"
  :product/actor "ORLANDO KILMER"
  :product/price 14.99M
  :product/special false
  :product/common-prod-id 8074}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 9990
  :product/category :product.category/music
  :product/title "ALADDIN WORLD"
  :product/actor "HUMPHREY DENCH"
  :product/price 25.99M
  :product/special false
  :product/common-prod-id 6584}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 1567
  :product/category :product.category/new
  :product/title "ACE MEET"
  :product/actor "JESSICA PFEIFFER"
  :product/price 25.99M
  :product/special false
  :product/common-prod-id 5179}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 6376
  :product/category :product.category/drama
  :product/title "AIRPLANE GRAPES"
  :product/actor "KIM RYDER"
  :product/price 21.99M
  :product/special false
  :product/common-prod-id 7411}

 ;; orderid 5
 {:db/id #db/id[:db.part/user]
  :product/prod-id 8293
  :product/category :product.category/family
  :product/title "ALABAMA EXORCIST"
  :product/actor "NICK MINELLI"
  :product/price 13.99M
  :product/special false
  :product/common-prod-id 4804}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 4402
  :product/category :product.category/children
  :product/title "AFRICAN HARPER"
  :product/actor "GENE WILLIS"
  :product/price 11.99M
  :product/special false
  :product/common-prod-id 1261}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 6879
  :product/category :product.category/action
  :product/title "AIRPLANE TELEGRAPH"
  :product/actor "LIAM KILMER"
  :product/price 12.99M
  :product/special false
  :product/common-prod-id 6893}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 2290
  :product/category :product.category/documentary
  :product/title "ADAPTATION EVERYONE"
  :product/actor "ANNETTE BEATTY"
  :product/price 15.99M
  :product/special false
  :product/common-prod-id 2928}]
