[{:db/id #db/id[:db.part/user]
  :order/orderid 2
  :order/tax 4.53M
  :order/netamount 54.90M
  :order/customerid 4858
  :order/customer [:customer/customerid 4858]
  :order/orderlines
  #{{:db/id #db/id[:db.part/user]
     :orderline/orderlineid 6
     :orderline/orderid 2
     :orderline/prod-id 6376
     :orderline/product [:product/prod-id 6376]
     :orderline/quantity 2
     :orderline/orderdate #inst "2004-01-01T08:00:00.000-00:00"}
    {:db/id #db/id[:db.part/user]
     :orderline/orderlineid 5
     :orderline/orderid 2
     :orderline/prod-id 6127
     :orderline/product [:product/prod-id 6127]
     :orderline/quantity 1
     :orderline/orderdate #inst "2004-01-01T08:00:00.000-00:00"}
    {:db/id #db/id[:db.part/user]
     :orderline/orderlineid 3
     :orderline/orderid 2
     :orderline/prod-id 9990
     :orderline/product [:product/prod-id 9990]
     :orderline/quantity 1
     :orderline/orderdate #inst "2004-01-01T08:00:00.000-00:00"}
    {:db/id #db/id[:db.part/user]
     :orderline/orderlineid 4
     :orderline/orderid 2
     :orderline/prod-id 5130
     :orderline/product [:product/prod-id 5130]
     :orderline/quantity 3
     :orderline/orderdate #inst "2004-01-01T08:00:00.000-00:00"}
    {:db/id #db/id[:db.part/user]
     :orderline/orderlineid 1
     :orderline/orderid 2
     :orderline/prod-id 1567
     :orderline/product [:product/prod-id 1567]
     :orderline/quantity 2
     :orderline/orderdate #inst "2004-01-01T08:00:00.000-00:00"}
    {:db/id #db/id[:db.part/user]
     :orderline/orderlineid 2
     :orderline/orderid 2
     :orderline/prod-id 1298
     :orderline/product [:product/prod-id 1298]
     :orderline/quantity 1
     :orderline/orderdate #inst "2004-01-01T08:00:00.000-00:00"}
    {:db/id #db/id[:db.part/user]
     :orderline/orderlineid 8
     :orderline/orderid 2
     :orderline/prod-id 2926
     :orderline/product [:product/prod-id 2926]
     :orderline/quantity 3
     :orderline/orderdate #inst "2004-01-01T08:00:00.000-00:00"}
    {:db/id #db/id[:db.part/user]
     :orderline/orderlineid 7
     :orderline/orderid 2
     :orderline/prod-id 4936
     :orderline/product [:product/prod-id 4936]
     :orderline/quantity 3
     :orderline/orderdate #inst "2004-01-01T08:00:00.000-00:00"}}
  :order/totalamount 59.43M
  :order/orderdate #inst "2004-01-01T08:00:00.000-00:00"}

 {:db/id #db/id[:db.part/user]
  :order/orderid 5
  :order/tax 21.12M
  :order/netamount 256.00M
  :order/customerid 14771
  :order/customer [:customer/customerid 14771]
  :order/orderlines
  #{{:db/id #db/id[:db.part/user]
     :orderline/orderlineid 3
     :orderline/orderid 5
     :orderline/prod-id 8293
     :orderline/product [:product/prod-id 8293]
     :orderline/quantity 1
     :orderline/orderdate #inst "2004-01-09T08:00:00.000-00:00"}
    {:db/id #db/id[:db.part/user]
     :orderline/orderlineid 2
     :orderline/orderid 5
     :orderline/prod-id 4402
     :orderline/product [:product/prod-id 4402]
     :orderline/quantity 3
     :orderline/orderdate #inst "2004-01-09T08:00:00.000-00:00"}
    {:db/id #db/id[:db.part/user]
     :orderline/orderlineid 4
     :orderline/orderid 5
     :orderline/prod-id 2290
     :orderline/product [:product/prod-id 2290]
     :orderline/quantity 3
     :orderline/orderdate #inst "2004-01-09T08:00:00.000-00:00"}
    {:db/id #db/id[:db.part/user]
     :orderline/orderlineid 1
     :orderline/orderid 5
     :orderline/prod-id 6879
     :orderline/product [:product/prod-id 6879]
     :orderline/quantity 1
     :orderline/orderdate #inst "2004-01-09T08:00:00.000-00:00"}}
  :order/totalamount 277.12M
  :order/orderdate #inst "2004-01-09T08:00:00.000-00:00"}
 ]
