[
 ;; orderid 2
 {:db/id #db/id[:db.part/user]
  :product/prod-id 6127
  :product/url #uri "http://example.com/products/6127"
  :product/category :product.category/games
  :product/title "AIRPLANE CAT"
  :product/actor "RIP DOUGLAS"
  :product/price 16.99M
  :product/special false
  :product/common-prod-id 1644
  :product/tag :airplane-cat-games
  :product/uuid #uuid "57607364-9b35-4515-b067-88fe80de59a3"
  :product/blob #bytes "QUlSUExBTkUgQ0FU"
  :product/rating #float 1.0
  :product/man-hours 10100200300N}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 4936
  :product/url #uri "http://example.com/products/4936"
  :product/category :product.category/new
  :product/title "AFRICAN VANISHING"
  :product/actor "EDWARD NOLTE"
  :product/price 16.99M
  :product/special false
  :product/common-prod-id 4633
  :product/tag :african-vanishing-new
  :product/uuid #uuid "5760739f-b352-4a41-82b9-98f6819e28cc"
  :product/blob #bytes "QUZSSUNBTiBWQU5JU0hJTkc="
  :product/rating #float 1.2
  :product/man-hours 20100200300N}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 1298
  :product/url #uri "http://example.com/products/1298"
  :product/category :product.category/comedy
  :product/title "ACE EYES"
  :product/actor "DENNIS FIENNES"
  :product/price 26.99M
  :product/special false
  :product/common-prod-id 5006
  :product/tag :ace-eyes-comedy
  :product/uuid #uuid "576073c3-24c5-4461-9b84-dfe65774d41b"
  :product/blob #bytes "QUNFIEVZRVM="
  :product/rating #float 1.4
  :product/man-hours 30100200300N}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 2926
  :product/url #uri "http://example.com/products/2926"
  :product/category :product.category/music
  :product/title "ADAPTATION UNTOUCHABLES"
  :product/actor "HELEN BERRY"
  :product/price 22.99M
  :product/special false
  :product/common-prod-id 2561
  :product/tag :adaptation-untouchables-music
  :product/uuid #uuid "576073e7-d671-45ba-af1a-f08a9a355b81"
  :product/blob #bytes "QURBUFRBVElPTiBVTlRPVUNIQUJMRVM="
  :product/rating #float 1.6
  :product/man-hours 40100200300N}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 5130
  :product/url #uri "http://example.com/products/5130"
  :product/category :product.category/action
  :product/title "AGENT CELEBRITY"
  :product/actor "ORLANDO KILMER"
  :product/price 14.99M
  :product/special false
  :product/common-prod-id 8074
  :product/tag :agent-celebrity-action
  :product/uuid #uuid "5760740c-4f24-4f3d-8455-f79a1cc57fa9"
  :product/blob #bytes "QUdFTlQgQ0VMRUJSSVRZ"
  :product/rating #float 1.8
  :product/man-hours 50100200300N}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 9990
  :product/url #uri "http://example.com/products/9990"
  :product/category :product.category/music
  :product/title "ALADDIN WORLD"
  :product/actor "HUMPHREY DENCH"
  :product/price 25.99M
  :product/special false
  :product/common-prod-id 6584
  :product/tag :aladdin-world-music
  :product/uuid #uuid "57607426-cdd4-49fa-aecb-0a2572976db9"
  :product/blob #bytes "QUxBRERJTiBXT1JMRA=="
  :product/rating #float 2.0
  :product/man-hours 60100200300N}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 1567
  :product/url #uri "http://example.com/products/1567"
  :product/category :product.category/new
  :product/title "ACE MEET"
  :product/actor "JESSICA PFEIFFER"
  :product/price 25.99M
  :product/special false
  :product/common-prod-id 5179
  :product/tag :ace-meet-new
  :product/uuid #uuid "5760743c-33b3-4d8c-8f65-7ef389be597c"
  :product/blob #bytes "QUNFIE1FRVQ="
  :product/rating #float 2.2
  :product/man-hours 70100200300N}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 6376
  :product/url #uri "http://example.com/products/6376"
  :product/category :product.category/drama
  :product/title "AIRPLANE GRAPES"
  :product/actor "KIM RYDER"
  :product/price 21.99M
  :product/special false
  :product/common-prod-id 7411
  :product/tag :airplane-grapes-drama
  :product/uuid #uuid "5760745a-5bb5-4768-96f7-0f8aeb1a84f0"
  :product/blob #bytes "QUlSUExBTkUgR1JBUEVT"
  :product/rating #float 2.4
  :product/man-hours 80100200300N}

 ;; orderid 5
 {:db/id #db/id[:db.part/user]
  :product/prod-id 8293
  :product/url #uri "http://example.com/products/8293"
  :product/category :product.category/family
  :product/title "ALABAMA EXORCIST"
  :product/actor "NICK MINELLI"
  :product/price 13.99M
  :product/special false
  :product/common-prod-id 4804
  :product/tag :alabama-exorcist-family
  :product/uuid #uuid "57607472-0bd8-4ed3-98d3-586e9e9c9683"
  :product/blob #bytes "QUxBQkFNQSBFWE9SQ0lTVA=="
  :product/rating #float 2.6
  :product/man-hours 100N}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 4402
  :product/url #uri "http://example.com/products/4402"
  :product/category :product.category/children
  :product/title "AFRICAN HARPER"
  :product/actor "GENE WILLIS"
  :product/price 11.99M
  :product/special false
  :product/common-prod-id 1261
  :product/tag :african-harper-children
  :product/uuid #uuid "5760748b-7898-499c-af26-871426422d08"
  :product/blob #bytes "QUZSSUNBTiBIQVJQRVI="
  :product/rating #float 2.8
  :product/man-hours 101N}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 6879
  :product/url #uri "http://example.com/products/6879"
  :product/category :product.category/action
  :product/title "AIRPLANE TELEGRAPH"
  :product/actor "LIAM KILMER"
  :product/price 12.99M
  :product/special false
  :product/common-prod-id 6893
  :product/tag :airplane-telegraph-action
  :product/uuid #uuid "576074a9-8d11-4468-bb46-bebcc23646fa"
  :product/blob #bytes "QUlSUExBTkUgVEVMRUdSQVBI"
  :product/rating #float 3.0
  :product/man-hours 102N}
 {:db/id #db/id[:db.part/user]
  :product/prod-id 2290
  :product/url #uri "http://example.com/products/2290"
  :product/category :product.category/documentary
  :product/title "ADAPTATION EVERYONE"
  :product/actor "ANNETTE BEATTY"
  :product/price 15.99M
  :product/special false
  :product/common-prod-id 2928
  :product/tag :adaptation-everyone-documentary
  :product/uuid #uuid "576074cd-9f64-42cf-b604-4dee95de1303"
  :product/blob #bytes "QURBUFRBVElPTiBFVkVSWU9ORQ=="
  :product/rating #float 3.2
  :product/man-hours 103N}]
