;; Schema to demonstrate entities having heterogenous attribute namespaces.
[{:db/id #db/id[:db.part/db]
   :db/ident :starfighter/ship-id
   :db/valueType :db.type/long
   :db/unique :db.unique/value
   :db/cardinality :db.cardinality/one
   :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :kills/capital-ships
  :db/valueType :db.type/bigint
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :ship/warp-capable?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :ship/shields-capable?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :starfighter/ship-class
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :maneuverability/rating
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :kills/battle-stations
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :pilot/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :starfighter/armament
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc ""
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :alliance/uuid
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc ""
  :db.install/_attribute :db.part/db}

 [:db/add #db/id[:db.part/user]
  :db/ident :starfighter.ship-class/x-wing]
 [:db/add #db/id[:db.part/user]
  :db/ident :starfighter.ship-class/y-wing]
 [:db/add #db/id[:db.part/user]
  :db/ident :starfighter.ship-class/a-wing]
 [:db/add #db/id[:db.part/user]
  :db/ident :starfighter.ship-class/b-wing]

 [:db/add #db/id[:db.part/user]
  :db/ident :starfighter.armament/laser-cannon]
 [:db/add #db/id[:db.part/user]
  :db/ident :starfighter.armament/ion-cannon]
 [:db/add #db/id[:db.part/user]
  :db/ident :starfighter.armament/photon-torpedo]
 [:db/add #db/id[:db.part/user]
  :db/ident :starfighter.armament/concussion-missle]]
